<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ParkFeeMag.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=ParkFeeMag;User ID=sa;Password=gzwl4405" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0DF73EC7942B34E1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ParkFeeMag.Properties.Settings>
      <setting name="ParkFeeMag_WebStandardInfo_StandardInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/StandardInfo.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebChargeInfo_ChargeInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/ChargeInfo.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebCarTypeInfo_CarTypeInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/CarTypeInfo.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebWorkInfo_WorkInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/WorkInfo.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebOperatorInfo_OperatorInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/OperatorInfo.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebFInOutInfo_FInOutInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/FInOut.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebFCustomerInfo_FCustomerInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/FCustomerInfo.asmx</value>
      </setting>
      <setting name="ParkFeeMag_WebClearInfo_ClearInfo" serializeAs="String">
        <value>http://zst.gzwulian.com/ClientService/WebServices/ClearInfo.asmx</value>
      </setting>
    </ParkFeeMag.Properties.Settings>
  </applicationSettings>
  <system.windows.forms jitDebugging="true" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
